.login-background {
    min-height: 100vh;
    width: 100%;
    background-image: url("../../assets/login.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 100%;
    max-width: 480px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 2rem;
}